body{
    background: radial-gradient(ellipse at top, #ffffff 0%, #a2a2a2 100%);
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#title{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3rem;

}

li{
    list-style: none;
    text-decoration: none;
}
 a{
    text-decoration: none;
    color: black;
}
 

#info{
    display: flex;
    height: 10rem;
    justify-content: center;
    align-items: center;
    padding: 5rem;

}

.member_info{
    background: #ffffff68;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 14rem;
    height: 14rem;
    margin: 13px;
    border-radius: 5px;
    box-shadow: 5px 4px 6px rgb(25, 25, 25, 0.3);
    transition: 0.3s ease-in-out;

}

.member_info:hover{
    background: radial-gradient(ellipse at top right,  rgb(32, 0, 95) 0%, #6c006a 100%);
    height: 15rem;
    color: white;
}

.member_info:hover a,
.member_info:hover i,
.member_info:hover li{
    color: white;

}

.member_info .img{
    width: min-content;
    position: relative;
    left: 25%;
}
.img img{
    height: 7rem;
    overflow: hidden;
    width: 7rem;
    border-radius: 50%;
    
}
.member_info h2{
    font-size: 1.2rem;
}
.icons{
    display: flex;
}

.icon1{
    margin: 7px;
    margin-left: 0;
}

.button{
    display: flex;
    justify-content: center;
    margin: 20px;

}
.button button{
    width: 10rem;
    height: 3rem;
    background-color: rgb(32, 0, 95) ;
    border:none;
    color: white;
    
}

button:hover{
    background-color: rgb(105, 0, 105);
}
/* button:hover a{
    color: black;

} */

button a{
    text-decoration: none;
    font-size: large;
    color: wheat;
}
